body {
    background-color: #B3D0DB;
}

h1 {
    color: #F4EAA4;
    font-size: 7em;
    width: 65%;
    position: relative;
    left: 16.5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    margin-top: 5%;
    z-index: 10;
    text-shadow:
    -1.5px -1.5px 0 #000,
    0   -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    1.5px  0   0 #000,
    1.5px  1.5px 0 #000,
    0    1.5px 0 #000,
    -1.5px  1.5px 0 #000,
    -1.5px  0   0 #000;
}

#bigFlwr {
    position: absolute;
    top: 65%;
    left: 13%;
    width: 80%;
    z-index: 8;
}

#sun {
    position: absolute;
    top: -20%;
    left: -10%;
    width: 40%;
    z-index: 9;
}

#cloudOne {
    position: absolute;
    top: 2%;
    right: 4%;
    width: 15%;
    z-index: 8;
}

#cloudTwo {
    position: absolute;
    top: 45%;
    left: 4%;
    width: 15%;
    z-index: 8;
}

#home {
    z-index: 9;
}

h2 {
    color: white;
    font-size: 2.8em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#wknd {
    width: 10%;
    color: #8a8a8a;
    font-size: 1.8em;
    position: absolute;
    top: -5%;
    right: 5%;
    text-align: center;
    line-height: 1.5;
}

#headline {
    width: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 1.6em;
    line-height: 2;
    text-align: center;
    position: absolute;
    top: 28%;
    right: 5%;
}

#ft {
    font-size: 1em;
}

#day {
    position: absolute;
    width: 10%;
    top: 68%;
    left: 5%;
    text-align: center;
    flex-wrap: nowrap;
}

#time {
    position: absolute;
    width: 10%;
    top: 68%;
    right: 5%;
    text-align: center;
    flex-wrap: nowrap;
}

#lo {
    position: absolute;
    bottom: -13%;
    left: 3%;
    font-size: 1.6em;
    line-height: 2;
    width: 15%;
    color: #8a8a8a;
    text-align: center;
} 

#gray {
    color: #848484;
    text-shadow:none;
    position: absolute;
    bottom: -85%;
    left: 3%;
    width: 25%;
    font-size: 2.3em;
}

a {
    position: absolute;
    bottom: -40%;
    right: 5%;
}