/* page setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body { 
    min-height: 100vh;
    width: 100%;
    position: relative;
}

/* type hierarchy */
h1 {
        font-family: "Modak", system-ui;
        font-weight: 400;
        font-style: normal;
        text-shadow:
            -.8px -.8px 0 #000,
            0   -.8px 0 #000,
            .8px -.8px 0 #000,
            .8px  0   0 #000,
            .8px  .8px 0 #000,
            0    .8px 0 #000,
            -.8px  .8px 0 #000,
            -.8px  0   0 #000;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.accent {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-style: italic;
}

.accentSmall {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
}

.accentCap {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#standard {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* navigation bar on pages */
nav {
    background-color: #EAC8E9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#menu {
    padding-left: 2%;
    padding-top: 0.5%;
}

#menu a {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#menu a:active {
    color: #B1E6BA;
}

#menu a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#menuIcon {
    height: 4.5em;
}

#logo {
    height: 7em;
    width: 100%;
    margin-left: -2em;
}

#tix {
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1.5%;
    line-height: 2em;
}

nav a {
    color: white;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
}

nav h3 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

nav .accentSmall {
    color: #848484;
}

/* main content layout */
#mainContent {
    background-color: aqua;
    width: 90%;
    margin-left: 5%;
}

.border {
    background-color: #D9D9D9;
    margin: 1em;
    padding: 2%;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
}