/* page setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body { 
    min-height: 100vh;
    width: 100%;
    position: relative;
}

/* type hierarchy */
h1 {
        font-family: "Modak", system-ui;
        font-weight: 400;
        font-style: normal;
        text-shadow:
            -.8px -.8px 0 #000,
            0   -.8px 0 #000,
            .8px -.8px 0 #000,
            .8px  0   0 #000,
            .8px  .8px 0 #000,
            0    .8px 0 #000,
            -.8px  .8px 0 #000,
            -.8px  0   0 #000;
}

.smallHeader {
    color: #EAC8E9;
    font-size: 1.5em;
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow:
        -.8px -.8px 0 #000,
        0   -.8px 0 #000,
        .8px -.8px 0 #000,
        .8px  0   0 #000,
        .8px  .8px 0 #000,
        0    .8px 0 #000,
        -.8px  .8px 0 #000,
        -.8px  0   0 #000;
}

h2 {
    font-size: 3em;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.accent {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-style: italic;
}

.accentSmall {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
}

.accentCap {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.standard {
    font-size: 1.1em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* navigation bar on pages */
nav {
    background-color: #EAC8E9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
 /* CITED CODE */
.hamburger {
    position: absolute;
    box-sizing: border-box;
    left: 30px;
    top: 20px;
    width: 5em;
    padding: 16px 16px 10px 16px;
    cursor: pointer;
    background-color: #EAC8E9;
    transition: 0.5s ease left;
    z-index: 2;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
  }
  
  .hamburger:hover span {
    background-color: #FFF;
  }
  
  .hamburger-active .hamburger {
    left: 300px;
  }
  
  .hamburger-active span.hamurger-second {
    opacity: 0;
  }
  
  .hamburger-active span.hamurger-first {
    transform: rotate(45deg) translate(7px, 7px);
  }
  
  .hamburger-active span.hamurger-third {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  
  .hamburger span {
    display: block;
    background-color: #F4EAA4;
    width: 100%;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 8px;
    height: 6px;
    margin-bottom: 6px;
    transition: 0.8s ease all;
  }
  
  .hamburger-menu {
    box-sizing: border-box;
    color: #ffffff;
    background-color: #EAC8E9;
    height: 100%;
    line-height: 3.5;
    position: absolute;
    left: -300px;
    top: 0;
    width: 300px;
    overflow: auto;
    transition: 0.5s ease left;
    z-index: 1;
  }
  
  .hamburger-active .hamburger-menu {
    left: 0;
  }
  
  .hamburger-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .hamburger-menu .main-links li a {
    display: block;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0,       0.4);
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    letter-spacing: 4px;
    font-weight: bold;
    opacity: 0;
    transition: 0.5s ease all;
    transition-delay: inherit;
    transform: translateY(20px);
    position: relative;
    z-index: 2;
  }

  .hamburger-menu .main-links li a:visited {
    text-decoration: none;
    color: white;
  }
  
  .hamburger-menu .main-links li a:after {
    background-color: #FFF;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    content: "";
    z-index: 1;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .hamburger-menu .main-links li a:hover:after {
    opacity: .05;
    height: 100%;
    border-radius: 0;
  }
  
  .hamburger-menu .main-links li a:hover {
    color: #bfedc7;
  }
  
  .hamburger-active .main-links li a {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
  /* closing CITED CODE */

#logo {
    height: 6em;
    width: 125%;
    margin-left: 45%;
}

#logo:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#tix {
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    line-height: 2em;
}

nav a {
    color: white;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
}

nav h3 {
    font-size: 1.3em;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

nav .accentSmall {
    font-size: 1.3em;
    color: #848484;
}

/* main content layout */
#mainContent {
    /* background-color: aqua; */
    width: 80%;
    margin-left: 9%;
    padding-bottom: 1.8em;
    padding-top: 1.8em;
}

#mainContent h2 {
    font-size: 2em;
}

.border {
    background-color: #D9D9D9;
    text-align: justify;
    margin: 1.8em;
    padding: 2.5%;
    margin-top: 0.5em;
    line-height: 2;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
}

.collage {
  width: 93.5%;
  margin-left: 2em;
  margin-bottom: 2em;
  border-width: 2px;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#pageHead {
    color: #b1e6ba;
    font-size: 4em;
}

#mainContent .accentSmall {
    font-size: 1.2em;
    color: #848484;
}

#mainContent .accentCap {
    font-size: 1.4em;
    font-weight: 300;
    color: #848484;
}


/* CITED CODE--Hamburger animations */
.delay01 {
    transition-delay: 0.1s;
  }
  
  .delay02 {
    transition-delay: 0.2s;
  }
  
  .delay03 {
    transition-delay: 0.3s;
  }
  
  .delay04 {
    transition-delay: 0.4s;
  }
  
  .delay05 {
    transition-delay: 0.5s;
  }
  
  .delay06 {
    transition-delay: 0.6s;
  }
  
  .delay07 {
    transition-delay: 0.7s
  }
  
  .delay08 {
    transition-delay: 0.8s;
  }
  
  .delay09 {
    transition-delay: 0.9s;
  }
  
  .delay1 {
    transition-delay: 1s;
  }
/* End of Cited code */
