/* page setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body { 
    min-height: 100vh;
    width: 100%;
    position: relative;
}

/* type hierarchy */
h1 {
        font-family: "Modak", system-ui;
        font-weight: 400;
        font-style: normal;
        text-shadow:
            -.8px -.8px 0 #000,
            0   -.8px 0 #000,
            .8px -.8px 0 #000,
            .8px  0   0 #000,
            .8px  .8px 0 #000,
            0    .8px 0 #000,
            -.8px  .8px 0 #000,
            -.8px  0   0 #000;
}

h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.accent {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-style: italic;
}

.accentSmall {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
}

.accentCap {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#standard {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* navigation bar on pages */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#menu a {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 1%;
    padding-top: 1%;
}

nav img {
    height: 7em;
    width: 100%;
}

#tix {
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1.5%;
}

nav a {
    color: white;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
}

nav .accentSmall {
    color: #848484;
}
