body {
    background-color: aliceblue;
}

#columns {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

#cOne {
    width: 48%;
}

#cTwo {
    width: 48%;
}

h1 {
    /* margin-bottom: 3%; */
    text-align: center;
    margin-bottom: 1%;
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow:
        -.8px -.8px 0 #000,
        0   -.8px 0 #000,
        .8px -.8px 0 #000,
        .8px  0   0 #000,
        .8px  .8px 0 #000,
        0    .8px 0 #000,
        -.8px  .8px 0 #000,
        -.8px  0   0 #000;
}

#poster {
    width: 90%;
    box-shadow: 0 0 0 2px #060606;
    border-width: 2px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

#paragraph {
    margin-top: -0.2%;
}

.border {
    height: 100%;
}
