body {
    background-color: aliceblue;
}

#columns {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    background-color: blueviolet;
}

#cOne {
    width: 40%;
}

#cTwo {
    width: 40%;
}

h2 {
    margin-bottom: 3%;
}

#poster {
    margin-left: 50%;
    box-shadow: 0 0 0 20px #060606;
}
