body {
    background-color: aliceblue;
}

#columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

#cOne {
    width: 45%;
}

#cTwo {
    width: 45%;
}

h2 {
    margin-bottom: 3%;
}
