body {
    background-color: aliceblue;
}

#columnFirst {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

#cOne {
    width: 45%;
}

#cTwo {
    width: 45%;
}

#cThree {
    width: 45%;  
}

#columnSecond {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

#cFour {
    width: 45%;
}

#cFive {
    width: 45%;
}

#cSix {
    width: 45%;
}

h1 {
    text-align: center;
    color: #A5DDAE;
    font-size: 4em;
}

h2 {
    margin-bottom: 3%;
}

img {
    position: relative;
    top: -20%;
    width: 100%;
}