body {
    background-color: aliceblue;
}

#columnFirst {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

#cOne {
    width: 45%;
}

#cTwo {
    width: 45%;
}

#cThree {
    width: 45%;  
}

#columnSecond {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

#cFour {
    width: 45%;
}

#cFive {
    width: 45%;
}

#cSix {
    width: 45%;
}

h1 {
    text-align: center;
    color: #A5DDAE;
    font-size: 4em;
}

#columnFirst h3 {
    margin-top: -40%;
    text-align: center;
}

#columnSecond h3 {
    text-align: center;
}

#mainContent img {
    position: relative;
    top: -15%;
    width: 100%;
}

img:hover {
    transform: scale(1.09);
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -o-transform: scale(1.09);
}